@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import "variables";
@import "components";
@import "content";
@import "button";
@import "card";
@import "tables";
@import "navbar";
@import "form";

body {
  color: #4d4d4d;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
