.btn {
  &-md {
    min-height: 3.25em;
  }

  &-sm {
    min-height: 2.75em;
  }

  &-alt {
    font-size: 0.65em;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 2px 8px fade-out(#4d4d4d, 0.8);
  }
}
