.form {
  &-text {
    font-size: 0.78em;
    color: fade-out($asphalt, 0.4);
  }

  &-control {
    &:focus {
      box-shadow: none;
      border: 1px solid $asphalt;
    }
  }
}

label {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: fade-out($asphalt, 0.2);
}
